{% extends 'base.html' %}

{% block title %}
    Product creation
{% endblock %}



{% block content %}

    <div class="container" style="display: flex; flex-direction: row;justify-content: center">
        <div class="block">
            <form action="{% url 'create_product' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ product_form.as_p }}
                {{ price_formset.management_form }}
                {% for form in price_formset %}
                    {{ form.price.label }}
                    {{ form.price }}
                {% endfor %}

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" style="margin: 20px; width: 100px">Submit</button>
                    </div>
                    <div class="control">
                        <a href="{% url 'dashboard' %}" class="button is-link is-light" style="margin: 20px; width: 100px">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}