{% extends 'base.html' %}


{% block title %}
    Selling
{% endblock %}

{% block content %}

    <div class="block">
        <form action="{% url 'user_information' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" style="margin: 20px; width: 100px">Submit</button>
                </div>
                <div class="control">
                    <a href="#" class="button is-link is-light" style="margin: 20px; width: 100px">Cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}