{% extends 'base.html' %}

{% block title %}
    Edit Info
{% endblock %}

{% block content %}
    <div class="container">
        <div class="buttons" style="display: flex; flex-direction: row;justify-content: center">
            <a href="{% url 'general_update_info' %}" class="button is-primary" style="margin: 10px">General Editing</a>
            <a href="#" class="button is-info" style="margin: 10px">Success</a>
            <a href="{% url 'set_image' %}" class="button is-info" style="margin: 10px">Image</a>
            <a href="#" class="button is-info" style="margin: 10px">Danger</a>
        </div>
        <div class="block">
            <form action="{% url 'general_update_info' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button is-primary" value="Submit"style="margin-left: 29rem; width: 150px">
            </form>
        </div>
    </div>
{% endblock %}