<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="notification is-link is-light">
            <button class="delete"></button>
            {{ message }}
        </div>
    {% endfor %}

{% endif %}
<a href="{% url 'dashboard' %}">
    <section class="hero is-small is-success mb-4">
    
    <div class="hero-body">
        <h1 class="title is-1">Dwitter</h1>
        <p class="subtitle is-4">Your tiny social network built with Django</p>
    </div>
</section>
</a>

<div class="container">
    <div class="columns">{% block content %} {% endblock content %}</div>
</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
</body>
</html>
