{% extends 'base.html' %}

{% block title %}
    Profile Detail
{% endblock %}


{% block content %}
    <div class="column">

        {% if request.user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="buttons has-addons">
                    {% if user_profile in request.user.profile.follows.all %}
                        <button class="button is-success is-static">Followed</button>
                        <button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
                    {% else %}
                        <button class="button is-success" name="follow" value="follow">Follow</button>
                        <button class="button is-danger is-static">Unfollow</button>
                    {% endif %}
                </div>
            </form>
        {% endif %}
        <div class="block">
            <h1 class="title is-1">
                {{ user_profile.user.username|upper }}'s Dweets
            </h1>
            <a href="" class="button is-warning">Edit Profile Info</a>
        </div>


        {% if user_profile in request.user.profile.follows.all %}
            <div class="content">
                {% for dweet in user_profile.user.dweet_set.all %}
                    <div class="box">
                        {{ dweet.content }}
                        <span class="is-small has-text-grey-light">
                ({{ dweet.created_at }})
            </span>
                    </div>
                {% endfor %}
            </div>

        {% endif %}
    </div>

    <div class="column is-one-third">

        <div class="block">
            <a href="{% url 'profile_list' %}">
                <button class="button is-dark is-outlined is-fullwidth">
                    All Profiles
                </button>
            </a>
        </div>

        <div class="block">
            <h3 class="title is-4">
                {{ user_profile.user.username }} follows:
            </h3>
            <div class="content">
                <ul>
                    {% for following in user_profile.follows.all %}
                        <li>
                            <a href="{% url 'profile_detail' profile_id=following.id %}">
                                {{ following }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="block">
            <h3 class="title is-4">
                {{ user_profile.user.username }} is followed by:
            </h3>
            <div class="content">
                <ul>
                    {% for follower in user_profile.followers.all %}

                        <li>
                            <a href="{% url 'profile_detail' profile_id=follower.id %}">
                                {{ follower }}
                            </a>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}

